@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ovd1t1');
	src:url('../fonts/icomoon.eot?#iefixovd1t1') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ovd1t1') format('truetype'),
		url('../fonts/icomoon.woff?ovd1t1') format('woff'),
		url('../fonts/icomoon.svg?ovd1t1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-mail:before {
    content: "\e600";
}

.icon-github:before {
    content: "\e601";
}

.icon-linkedin:before {
    content: "\e602";
}
