/* CSS Resets and utilities */
html, body, h1, h2, a, header,
ul, li, section, main, h3, p,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
/* General styles */
body {
  background: #222;
}

section {
  margin: auto;
  position: relative;
  padding: 100px;
  text-align: center;
}

/* Navigation Bar */

.nav-bar {
  position: fixed;
  background: #333;
  margin: auto;
  width: 900px;
  top: 0px;
  left: calc(50% - 450px);
  z-index: 3;
  color: #ccc;
  font-family: 'Lato';
}

.nav-bar .logo {
  float: left;
}

.nav-bar a {
  display: block;
  padding: 10px;
}

.nav-bar a:hover {
  color: #999;
}

.nav-list {
  float: right;
}

.nav-list li {
  float: left;
}

/* Intro pane style */

#intro {
  background: #333;
  font-family: 'Lato';
  height: 400px;
  padding: 150px;
}

.center-logo {
  position: absolute;
  left: calc(50% - 200px);
  top: 80px;
  width: 320px;
  height: 400px;
  padding: 0px 40px;
  margin: auto;
  background: #ccc;
  font-weight: 900;
  font-size: 180px;
  text-align: center;
  color: #333;
}

.center-logo > h1 {
  float: left;
  width: 160px;
  height: 180px;
}

.center-logo > h2 {
  float: left;
  width: 160px;
  height: 180px;
  margin: auto;
  font-style: italic;
}

#intro h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 20px;
  color: #ccc;
  font-family: 'Merriweather'
}


/* About section style */
section#about {
  background: #666;
  color: #ddd;
  text-align: center;
  padding: 150px;
}

section#about p {
  width: 600px;
  margin: auto;
  font-family: 'Lato';
  font-weight: 300;
  text-align: left;
}

section#about h1 {
  font-size: 50px;
  font-family: 'Merriweather';
  padding-bottom: 20px;
}

/* Skills section style */
section#skills {
  background: #3B3738;
  color: #ddd;
}

.skills-list {
  margin: auto;
  width: 560px;
}

.skills-list li {
  float: left;
  padding: 25px 20px 0px 20px;
}

section#skills h1 {
  font-family: 'Merriweather';
  font-size: 50px;
  padding: 20px;
}
.skills-list h3 {
  font-family: 'Lato';
  font-weight: 300;
}

/* Projects section style */
section#projects {
  background: #444;
  color: #ddd;
}

section#projects h1 {
  font-family: 'Merriweather';
  font-size: 50px;
  padding: 20px;
}

.projects-list {
  width: 800px;
  margin: auto;
}

.project {
  padding: 30px;
  margin-bottom: 20px;
  font-family: 'Lato';
  font-weight: 300;
  border: 1px solid #eee
}

.project > figure {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
}

.project-desc {
  padding: 0px 20px;
  float: right;
  width: 398px;
}
.project-desc > ul {
  padding: 20px;
  text-align: left;
  font-size: 15px;
}

.project h2 {
  font-size: 20px;
  text-align: left;
}

.project h3 {
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.project-desc p {
}

.project-desc > p {

}

.project-links {
  position: absolute;
  display: block;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  transition: opacity 0.5s;
}

.project-links a {
  display: block;
  margin: auto;
  margin-top: 35px;
  padding: 10px;
  border: 1px solid white;
  background: darkgray;
  color: white;
  width: 80px;
  transition: background 0.2s;
}

.project-links a:hover{
  background: gray;
}

.project-links:hover {
  opacity: 1;
}

.project img{
  padding: 9px;
  border: 1px solid white;
  width: 280px;
  height: 180px;
}



/* Contact section style */
section#contact {
  background: #F6F6F6;
}
